@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 31, 41, 55;
  --background-start-rgb: 243, 244, 246;
  --background-end-rgb: 249, 250, 251;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 31, 41, 55;
    --background-start-rgb: 243, 244, 246;
    --background-end-rgb: 249, 250, 251;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  min-height: 100vh;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.square-image {
  aspect-ratio: 1;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
